*
!pyproject.toml
!src/
!src/contracts/
!src/contracts/*.py
!src/contracts/py.typed
!src/contracts/schema/
!src/contracts/schema/*.json
!src/agents/
!src/agents/documentation-agent/
!src/agents/documentation-agent/Dockerfile
!src/agents/documentation-agent/app/
!src/agents/documentation-agent/app/*.py
